@font-face
  font-family SquafoTysyRegular
  src url('squafo_tysy-regular-webfont.woff2') format('woff2'), url('squafo_tysy-regular-webfont.woff') format('woff')
  font-weight normal
  font-style normal

body
  font-family SquafoTysyRegular, Arial
  margin 0
  padding 0
  overflow hidden

#app
  margin 0
  padding 0
  width 100vw
  height 100vh

#controller
  position fixed
  padding-left 10px
  bottom 50px
  left 0

#letterlog
  overflow scroll
  position fixed
  bottom 0
  left 0
  border-top 1px solid #b3b3b3
  background white
  height 40px
  line-height 40px
  width 100%

#letterlog p
  font-family SquafoTysyRegular, Arial
  -webkit-font-smoothing antialiased
  margin 0 20px
  text-align right

button
  font-family SquafoTysyRegular, Arial
  -webkit-font-smoothing antialiased
  float left
  transform translateY(10px)
  margin 0 10px
  border 1px solid black
  background transparent
  opacity 0.3
  outline none
  width 120px
  height 50px

button:hover
  opacity 1